/* stylelint-disable-next-line selector-class-pattern */
.Switch {
  position: relative;
  display: block;
  cursor: pointer;

  /* Добавляем отступы, если пин больше трека */
  padding: calc(
/* stylelint-disable-next-line custom-property-pattern */
/* stylelint-disable-next-line custom-property-pattern */
    (var(--vkui--size_switch_pin--regular) - var(--vkui--size_switch_height--regular)) / 2
  );
}

/* stylelint-disable-next-line selector-class-pattern */
.Switch--sizeY-compact {
  padding: calc(
/* stylelint-disable-next-line custom-property-pattern */
/* stylelint-disable-next-line custom-property-pattern */
    (var(--vkui--size_switch_pin--compact) - var(--vkui--size_switch_height--compact)) / 2
  );
}

@media (--sizeY-compact) {
/* stylelint-disable-next-line selector-class-pattern */
  .Switch--sizeY-none {
    padding: calc(
/* stylelint-disable-next-line custom-property-pattern */
/* stylelint-disable-next-line custom-property-pattern */
      (var(--vkui--size_switch_pin--compact) - var(--vkui--size_switch_height--compact)) / 2
    );
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.Switch--disabled {
  cursor: default;
}

/* stylelint-disable-next-line selector-class-pattern */
.Switch__pseudo {
  position: relative;
  display: block;
  box-sizing: border-box;
/* stylelint-disable-next-line alpha-value-notation */
/* stylelint-disable-next-line color-function-notation */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

/**
 * Пин
 */
/* stylelint-disable-next-line selector-class-pattern */
.Switch__pseudo::before {
  position: absolute;
  content: '';
  border-radius: 50%;
  box-sizing: border-box;
/* stylelint-disable-next-line custom-property-pattern */
  background: var(--vkui--color_icon_contrast_secondary);
/* stylelint-disable-next-line alpha-value-notation */
/* stylelint-disable-next-line alpha-value-notation */
/* stylelint-disable-next-line color-function-notation */
/* stylelint-disable-next-line color-function-notation */
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);

  /* Делаем пин по центру */
/* stylelint-disable-next-line custom-property-pattern */
/* stylelint-disable-next-line custom-property-pattern */
  top: calc((var(--vkui--size_switch_height--regular) - var(--vkui--size_switch_pin--regular)) / 2);
  left: calc(
/* stylelint-disable-next-line custom-property-pattern */
/* stylelint-disable-next-line custom-property-pattern */
    (var(--vkui--size_switch_height--regular) - var(--vkui--size_switch_pin--regular)) / 2
  );
/* stylelint-disable-next-line custom-property-pattern */
  width: var(--vkui--size_switch_pin--regular);
/* stylelint-disable-next-line custom-property-pattern */
  height: var(--vkui--size_switch_pin--regular);
}

/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
.Switch--sizeY-compact .Switch__pseudo::before {
/* stylelint-disable-next-line custom-property-pattern */
/* stylelint-disable-next-line custom-property-pattern */
  top: calc((var(--vkui--size_switch_height--compact) - var(--vkui--size_switch_pin--compact)) / 2);
  left: calc(
/* stylelint-disable-next-line custom-property-pattern */
/* stylelint-disable-next-line custom-property-pattern */
    (var(--vkui--size_switch_height--compact) - var(--vkui--size_switch_pin--compact)) / 2
  );
/* stylelint-disable-next-line custom-property-pattern */
  width: var(--vkui--size_switch_pin--compact);
/* stylelint-disable-next-line custom-property-pattern */
  height: var(--vkui--size_switch_pin--compact);
}

@media (--sizeY-compact) {
/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
  .Switch--sizeY-none .Switch__pseudo::before {
    top: calc(
/* stylelint-disable-next-line custom-property-pattern */
/* stylelint-disable-next-line custom-property-pattern */
      (var(--vkui--size_switch_height--compact) - var(--vkui--size_switch_pin--compact)) / 2
    );
    left: calc(
/* stylelint-disable-next-line custom-property-pattern */
/* stylelint-disable-next-line custom-property-pattern */
      (var(--vkui--size_switch_height--compact) - var(--vkui--size_switch_pin--compact)) / 2
    );
/* stylelint-disable-next-line custom-property-pattern */
    width: var(--vkui--size_switch_pin--compact);
/* stylelint-disable-next-line custom-property-pattern */
    height: var(--vkui--size_switch_pin--compact);
  }
}

/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
.Switch__self:checked + .Switch__pseudo::before {
/* stylelint-disable-next-line custom-property-pattern */
  background: var(--vkui--color_icon_accent);
  transform: translateX(
/* stylelint-disable-next-line custom-property-pattern */
/* stylelint-disable-next-line custom-property-pattern */
    calc(var(--vkui--size_switch_width--regular) - var(--vkui--size_switch_height--regular))
  );
}

/**
 * Трек
 */
/* stylelint-disable-next-line selector-class-pattern */
.Switch__pseudo::after {
  content: '';
  display: block;
/* stylelint-disable-next-line custom-property-pattern */
  background: var(--vkui--color_icon_tertiary_alpha);
/* stylelint-disable-next-line custom-property-pattern */
  border-radius: calc(var(--vkui--size_switch_width--regular) / 2);
/* stylelint-disable-next-line custom-property-pattern */
  width: var(--vkui--size_switch_width--regular);
/* stylelint-disable-next-line custom-property-pattern */
  height: var(--vkui--size_switch_height--regular);
}

/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
.Switch--sizeY-compact .Switch__pseudo::after {
/* stylelint-disable-next-line custom-property-pattern */
  border-radius: calc(var(--vkui--size_switch_width--compact) / 2);
/* stylelint-disable-next-line custom-property-pattern */
  width: var(--vkui--size_switch_width--compact);
/* stylelint-disable-next-line custom-property-pattern */
  height: var(--vkui--size_switch_height--compact);
}

@media (--sizeY-compact) {
/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
  .Switch--sizeY-none .Switch__pseudo::after {
/* stylelint-disable-next-line custom-property-pattern */
    border-radius: calc(var(--vkui--size_switch_width--compact) / 2);
/* stylelint-disable-next-line custom-property-pattern */
    width: var(--vkui--size_switch_width--compact);
/* stylelint-disable-next-line custom-property-pattern */
    height: var(--vkui--size_switch_height--compact);
  }
}

/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
.Switch__self:checked + .Switch__pseudo::after {
  opacity: 0.48;
/* stylelint-disable-next-line custom-property-pattern */
  background: var(--vkui--color_icon_accent);
}

/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
.Switch--sizeY-compact .Switch__self:checked + .Switch__pseudo::before {
  transform: translateX(
/* stylelint-disable-next-line custom-property-pattern */
/* stylelint-disable-next-line custom-property-pattern */
    calc(var(--vkui--size_switch_width--compact) - var(--vkui--size_switch_height--compact))
  );
}

@media (--sizeY-compact) {
/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
  .Switch--sizeY-none .Switch__self:checked + .Switch__pseudo::before {
    transform: translateX(
/* stylelint-disable-next-line custom-property-pattern */
/* stylelint-disable-next-line custom-property-pattern */
      calc(var(--vkui--size_switch_width--compact) - var(--vkui--size_switch_height--compact))
    );
  }
}

/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
.Switch__self[disabled] + .Switch__pseudo {
/* stylelint-disable-next-line custom-property-pattern */
  opacity: var(--vkui--opacity_disable);
}

/**
 * Пин
 */
/* stylelint-disable-next-line no-descending-specificity */
/* stylelint-disable-next-line no-descending-specificity */
/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
.Switch--ios .Switch__pseudo::before {
/* stylelint-disable-next-line custom-property-pattern */
  background: var(--vkui_internal--white);
/* stylelint-disable-next-line alpha-value-notation */
/* stylelint-disable-next-line alpha-value-notation */
/* stylelint-disable-next-line color-function-notation */
/* stylelint-disable-next-line color-function-notation */
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15), 0 3px 1px rgba(0, 0, 0, 0.06),
/* stylelint-disable-next-line alpha-value-notation */
/* stylelint-disable-next-line color-function-notation */
    inset 0 0 0 0.5px rgba(0, 0, 0, 0.04);
}

/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
.Switch--ios .Switch__self:checked + .Switch__pseudo::before {
/* stylelint-disable-next-line custom-property-pattern */
  background: var(--vkui_internal--white);
}

/**
 * Трек
 */
/* stylelint-disable-next-line no-descending-specificity */
/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
.Switch--ios .Switch__pseudo::after {
/* stylelint-disable-next-line custom-property-pattern */
  background: var(--vkui--color_track_background);
}

/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
.Switch--ios .Switch__self:checked + .Switch__pseudo::after {
  opacity: 1;
}

/**
 * [a11y]
 * add animation for browsers that support prefers-reduced-motion
 * so that users with vestibular motion disorders have no problem
 * navigating accessible vkui apps via keyboard
 */
@media (prefers-reduced-motion: no-preference) {
/* stylelint-disable-next-line selector-class-pattern */
  .Switch__pseudo::after {
    transition: background-color 0.1s ease;
  }

/* stylelint-disable-next-line selector-class-pattern */
  .Switch__pseudo::before {
    transition: transform 0.1s ease;
  }

/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
  .Switch--ios .Switch__pseudo::after {
    transition: background-color 0.2s ease;
  }

/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
  .Switch--ios .Switch__pseudo::before {
    transition: transform 0.2s cubic-bezier(0.36, -0.24, 0.26, 1.32);
  }
}

/**
 * CMP:
 * SimpleCell
 */
/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:global(.vkuiInternalSimpleCell__after) > .Switch {
  margin-left: 12px;
}

/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:global(.vkuiInternalSimpleCell) > .Switch:first-child {
  margin-right: 12px;
}
