/* stylelint-disable-next-line selector-class-pattern */
.ChipsSelect {
  position: relative;
}

/* stylelint-disable-next-line selector-class-pattern */
.ChipsSelect__dropdown {
  cursor: pointer;
}

/* stylelint-disable-next-line selector-class-pattern */
.ChipsSelect__icon {
  pointer-events: none;
}

/* stylelint-disable-next-line selector-class-pattern */
.ChipsSelect__empty {
  padding: 12px 0;
  text-align: center;
/* stylelint-disable-next-line custom-property-pattern */
  color: var(--vkui--color_text_secondary);
}

/* stylelint-disable-next-line selector-class-pattern */
.ChipsSelect--pop-down {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* stylelint-disable-next-line selector-class-pattern */
.ChipsSelect--pop-up {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
