/* stylelint-disable-next-line selector-class-pattern */
.Badge {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

/* stylelint-disable-next-line selector-class-pattern */
.Badge--mode-new {
/* stylelint-disable-next-line custom-property-pattern */
  background-color: var(--vkui--color_icon_accent);
}

/* stylelint-disable-next-line selector-class-pattern */
.Badge--mode-prominent {
/* stylelint-disable-next-line custom-property-pattern */
  background-color: var(--vkui--color_accent_red);
}

/**
 * CMP:
 * TabbarItem
 */
/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:global(.vkuiInternalTabbarItem__label) .Badge {
  position: absolute;
  top: -2px;
  right: -4px;
}
