/* stylelint-disable-next-line selector-class-pattern */
.Text {
/* stylelint-disable-next-line custom-property-pattern */
  font-size: var(--vkui--font_text--font_size--regular);
/* stylelint-disable-next-line custom-property-pattern */
  line-height: var(--vkui--font_text--line_height--regular);
/* stylelint-disable-next-line custom-property-pattern */
  font-weight: var(--vkui--font_text--font_weight--regular);
/* stylelint-disable-next-line custom-property-pattern */
  font-family: var(--vkui--font_text--font_family--regular);
}

/* stylelint-disable-next-line selector-class-pattern */
.Text--sizeY-compact {
/* stylelint-disable-next-line custom-property-pattern */
  font-size: var(--vkui--font_text--font_size--compact);
/* stylelint-disable-next-line custom-property-pattern */
  line-height: var(--vkui--font_text--line_height--compact);
}

@media (--sizeY-compact) {
/* stylelint-disable-next-line selector-class-pattern */
  .Text--sizeY-none {
/* stylelint-disable-next-line custom-property-pattern */
    font-size: var(--vkui--font_text--font_size--compact);
/* stylelint-disable-next-line custom-property-pattern */
    line-height: var(--vkui--font_text--line_height--compact);
  }
}

/**
 * CMP:
 * PanelHeaderContent
 */
/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:global(.vkuiInternalPanelHeaderContent__children) .Text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
