/* stylelint-disable-next-line selector-class-pattern */
.Checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
/* stylelint-disable-next-line custom-property-pattern */
  padding: 0 var(--vkui--size_base_padding_horizontal--regular);
/* stylelint-disable-next-line custom-property-pattern */
  min-width: var(--vkui--size_field_height--regular);
/* stylelint-disable-next-line custom-property-pattern */
  min-height: var(--vkui--size_field_height--regular);
/* stylelint-disable-next-line custom-property-pattern */
  font-family: var(--vkui--font_family_base);
}

/**
 * CMP:
 * FormItem
 */
/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:global(.vkuiInternalFormItem) .Checkbox {
  width: 100%;
  box-sizing: content-box;
/* stylelint-disable-next-line custom-property-pattern */
  margin: 0 calc(-1 * var(--vkui--size_base_padding_horizontal--regular));
}

/* stylelint-disable-next-line selector-class-pattern */
.Checkbox__icon {
  flex-shrink: 0;
  margin-right: 12px;
}

/* stylelint-disable-next-line selector-class-pattern */
.Checkbox__icon--on {
/* stylelint-disable-next-line custom-property-pattern */
  color: var(--vkui--color_icon_accent);
  display: none;
}

/* stylelint-disable-next-line selector-class-pattern */
.Checkbox__icon--indeterminate {
/* stylelint-disable-next-line custom-property-pattern */
  color: var(--vkui--color_icon_accent);
  display: none;
}

/* stylelint-disable-next-line selector-class-pattern */
.Checkbox__icon--off {
/* stylelint-disable-next-line custom-property-pattern */
  color: var(--vkui--color_icon_tertiary);
}

/* stylelint-disable-next-line selector-class-pattern */
.Checkbox__content {
  flex-grow: 1;
/* stylelint-disable-next-line custom-property-pattern */
  color: var(--vkui--color_text_primary);
  word-break: break-word;
/* stylelint-disable-next-line custom-property-pattern */
  font-weight: var(--vkui--font_weight_accent3);
}

/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
.Checkbox--sizeY-regular:not(.Checkbox--vkcom) .Checkbox__content {
/* stylelint-disable-next-line custom-property-pattern */
  font-size: var(--vkui--font_headline1--font_size--regular);
/* stylelint-disable-next-line custom-property-pattern */
  line-height: var(--vkui--font_headline1--line_height--regular);
}

@media (--sizeY-regular) {
/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
  .Checkbox--sizeY-none:not(.Checkbox--vkcom) .Checkbox__content {
/* stylelint-disable-next-line custom-property-pattern */
    font-size: var(--vkui--font_headline1--font_size--regular);
/* stylelint-disable-next-line custom-property-pattern */
    line-height: var(--vkui--font_headline1--line_height--regular);
  }
}

/* stylelint-disable-next-line no-descending-specificity */
/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
.Checkbox--vkcom .Checkbox__content,
/* stylelint-disable-next-line no-descending-specificity */
/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
.Checkbox--sizeY-compact .Checkbox__content {
/* stylelint-disable-next-line custom-property-pattern */
  font-size: var(--vkui--font_text--font_size--compact);
/* stylelint-disable-next-line custom-property-pattern */
  line-height: var(--vkui--font_text--line_height--compact);
}

@media (--sizeY-compact) {
/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
  .Checkbox--sizeY-none .Checkbox__content {
/* stylelint-disable-next-line custom-property-pattern */
    font-size: var(--vkui--font_text--font_size--compact);
/* stylelint-disable-next-line custom-property-pattern */
    line-height: var(--vkui--font_text--line_height--compact);
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.Checkbox__description {
/* stylelint-disable-next-line custom-property-pattern */
  color: var(--vkui--color_text_secondary);
  display: block;
  margin-bottom: 12px;
  margin-top: 2px;
}

/* stylelint-disable-next-line selector-class-pattern */
.Checkbox__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

/* stylelint-disable-next-line selector-class-pattern */
.Checkbox__title:last-child {
  margin-bottom: 12px;
}

/* stylelint-disable-next-line selector-class-pattern */
.Checkbox__titleAfter {
  margin-left: 4px;
/* stylelint-disable-next-line custom-property-pattern */
  color: var(--vkui--color_icon_tertiary);
}

/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
.Checkbox__input:checked ~ .Checkbox__icon--on {
  display: flex;
}

/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
.Checkbox__input:indeterminate ~ .Checkbox__icon--indeterminate,
/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
.Checkbox__input:checked ~ .Checkbox__icon--off {
  display: none;
}

/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
.Checkbox__input:indeterminate ~ .Checkbox__icon--indeterminate {
  display: flex;
}

/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
.Checkbox__input:indeterminate ~ .Checkbox__icon--on,
/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
.Checkbox__input:indeterminate ~ .Checkbox__icon--off {
  display: none;
}

/* stylelint-disable-next-line selector-class-pattern */
.Checkbox__input[disabled] ~ * {
/* stylelint-disable-next-line custom-property-pattern */
  opacity: var(--vkui--opacity_disable_accessibility);
}

/**
 * sizeY COMPACT
 */

/* stylelint-disable-next-line selector-class-pattern */
.Checkbox--sizeY-compact {
/* stylelint-disable-next-line custom-property-pattern */
  min-width: var(--vkui--size_field_height--compact);
/* stylelint-disable-next-line custom-property-pattern */
  min-height: var(--vkui--size_field_height--compact);
}

/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
.Checkbox--sizeY-compact .Checkbox__title {
  margin-top: 8px;
}

/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
.Checkbox--sizeY-compact .Checkbox__title:last-child {
  margin-bottom: 8px;
}

/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
.Checkbox--sizeY-compact .Checkbox__description {
  margin-bottom: 8px;
}

@media (--sizeY-compact) {
/* stylelint-disable-next-line selector-class-pattern */
  .Checkbox--sizeY-none {
/* stylelint-disable-next-line custom-property-pattern */
    min-width: var(--vkui--size_field_height--compact);
/* stylelint-disable-next-line custom-property-pattern */
    min-height: var(--vkui--size_field_height--compact);
  }

/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
  .Checkbox--sizeY-none .Checkbox__title {
    margin-top: 8px;
  }

/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
  .Checkbox--sizeY-none .Checkbox__title:last-child {
    margin-bottom: 8px;
  }

/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
  .Checkbox--sizeY-none .Checkbox__description {
    margin-bottom: 8px;
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.Checkbox--simple {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 50%;
}

/* stylelint-disable-next-line no-descending-specificity */
/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
.Checkbox--simple .Checkbox__content {
  display: none;
}

/* stylelint-disable-next-line selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
.Checkbox--simple .Checkbox__icon {
  margin: 0;
}
